<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>高考志愿推荐平台 分数线预测</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />

	<!-- Vendor Styles -->
	<script src="static/js/echarts.js"></script>
	<script src="static/predict_lines/predict_pro_line.js"></script>

	<!-- css -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--<link rel="stylesheet" href="static/materialize/css/materialize.min.css" media="screen,projection" />-->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="static/css/flexslider.css" rel="stylesheet" />

	<link href="static/css/magnific-popup.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet" />
	<link href="static/css/gallery-1.css" rel="stylesheet">
	<style>
		.white_background
		{
			background:#ffffff;
		}
		.auto_height
		{
			height:auto;
		}
		.center
		{
            text-align: center;
        }
        .f20{font-size:20pt; }

		.sel
		{
			border:1px solid #c9c9c9;
			background-color:#fff;
			color:#666;
			margin-top:auto;
			margin-bottom:auto;
			padding:4px 6px;
			font-size:18px;
			border-radius:8pt;
			cursor:pointer;
			outline:none;
		}
	</style>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="white_background">
	<div id="wrapper" >
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/index"><i
								class="icon-info-blocks material-icons">language</i>高考志愿推荐平台</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a class="waves-effect waves-dark" href="/index">首页</a></li>
							<li class="dropdown"><a  class="waves-effect waves-dark" href="/test">志愿推荐</a></li>
							<li><a class="waves-effect waves-dark" href="/services">分数查询</a></li>
							<li class="active"><a  class="waves-effect waves-dark" href="/predict">分数预测</a></li>
							<li><a class="waves-effect waves-dark" href="/team">团队</a></li>
							<li><a class="waves-effect waves-dark" href="/load">登录/注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header><!-- end header -->

		<section style="width:100%; height:200px">
			<iframe
				id="pageTitle"
				name="分数线预测"
				scrolling="no"
				frameborder="no"
				width="100%"
				height="200"
				src="static/pageTitle/pageTitle.html">
			</iframe>
		</section>

		<section >
<!--			<div >-->
				<div class = "center f20 auto_height"
					 align="center"
					 style="padding-top:16pt;padding-bottom:16pt;">
					<strong >专业:  </strong>
					<select class ="center  sel"
							style="margin-right:30pt;"
							id="select_pro"
							name="select_pro"
							onchange="onSelectPro();"  >
<!--                            	<option selected="selected"  value='' disabled>-请选择-</option>-->
						<option value="11">北京</option>
						<option value="12">天津</option>
						<option value="13">河北</option>
						<option value="14">山西</option>
						<option value="15">内蒙古</option>
						<option value="21">辽宁</option>
						<option value="22">吉林</option>
						<option value="23">黑龙江</option>
						<option value="31">上海</option>
						<option value="32">江苏</option>
						<option value="33">浙江</option>
						<option value="34">安徽</option>
						<option value="35">福建</option>
						<option value="36">江西</option>
						<option value="37">山东</option>
						<option value="41">河南</option>
						<option value="42">湖北</option>
						<option value="43">湖南</option>
						<option value="44">广东</option>
						<option value="45">广西</option>
						<option value="46">海南</option>
						<option value="50">重庆</option>
						<option value="51">四川</option>
						<option value="52">贵州</option>
						<option value="53">云南</option>
						<option value="54">西藏</option>
						<option value="61">陕西</option>
						<option value="62">甘肃</option>
						<option value="63">青海</option>
						<option value="64">宁夏</option>
						<option value="65">新疆</option>
<!--							<option value="81">香港</option>-->
<!--							<option value="82">澳门</option>-->

					</select>

					<strong style="margin-left:30pt;">类别:  </strong>
					<select class ="center sel" id="select_type" onchange="onSelectType();">
						<option value="0" selected="selected">理科</option>
						<option value="0">文科</option>

					</select>
				</div>

				<div id="predict_chart" style="width: 1200px;height:500px;margin:auto"></div>
<!--			</div>-->
		</section>

	</div>


	<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>


	<!-- javascript================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="static/js/jquery.js"></script>
	<script src="static/js/jquery.easing.1.3.js"></script>
	<script src="static/materialize/js/materialize.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.fancybox.pack.js"></script>
	<script src="static/js/jquery.fancybox-media.js"></script>
	<script src="static/js/jquery.flexslider.js"></script>
	<script src="static/js/animate.js"></script>
	<!-- Vendor Scripts -->
	<script src="static/js/modernizr.custom.js"></script>
	<script src="static/js/jquery.isotope.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/animate.js"></script>
	<script src="static/js/custom.js"></script>

</body>

</html>