<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>高考志愿推荐平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://webthemez.com" />
	<!-- css -->
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<!--<link rel="stylesheet" href="static/materialize/css/materialize.min.css" media="screen,projection" />-->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="static/css/flexslider.css" rel="stylesheet" />
	<link href="static/css/style.css" rel="stylesheet" />
    <style>
		body {
			background-image: url( "../static/img/img-75.jpg");
		}
	</style>

</head>



<section background = "../static/img/img-75.jpg">
    <style type="text/css">
        .mydiv{
            width: 65px;
            height: 35px;
            border-left: 1px solid #ccc;
            border-top: 1px solid rgb(212, 20, 20);
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc
        }
    </style>
    <div>
        <p><span class="opacity-8">请填写您的 <b>高考信息</b></span></p>
        <form action="/predictfenshuxian" method="POST">
            <div>
                <select>
                    <option selected="selected" value='' disabled>省份</option>
                    <option >山东</option>
                </select>
                <input type="number" required="required" class="input-9 ae-5 fromCenter" name="input_range" value='' placeholder="排位"
                        step="1" min="1" val=""/>
                <select required="required" type="prov" class="input-9 ae-4 fromCenter" name="location">
                    <option selected="selected" value='' disabled>目标区域</option>
                    <option value="1">长三角</option>
                    <option value="0">京津冀</option>
                    <option value="2">内陆</option>
                    <option value="-1">不限</option>
                </select>
                <select required="required" type="prov" class="input-9 ae-4 fromCenter" name="title">
                    <option selected="selected" value='' disabled>学校等级</option>
                    <option value="0">985及以上</option>
                    <option value="1">211及以上</option>
                    <option value="-1">不限</option>
                </select>
            </div>
        </form>
    </div>
</section>