<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>高考志愿推荐平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://webthemez.com" />
	<!-- css -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="stylesheet" href="static/materialize/css/materialize.min.css" media="screen,projection" /> -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="static/css/flexslider.css" rel="stylesheet" />
	<link href="static/css/style.css" rel="stylesheet" />
    <link href="static/css/style2.css" rel="stylesheet" />
    <!-- bootstrap.min css -->
    <!-- <link rel="stylesheet" href="static/css2/bootstrap.css"> -->
    <!-- Iconfont Css -->
    <link rel="stylesheet" href="static/css2/all.css">
    <link rel="stylesheet" href="static/css2/themify-icons.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="static/css2/animate.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="static/css2/slick.css">
    <link rel="stylesheet" href="static/css2/slick-theme.css">
    <link rel="stylesheet" href="static/css2/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css2/owl.theme.default.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="static/css2/style.css">
    
    <link rel="stylesheet" href="static/css2/responsive.css">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- <style>
		.center {
            text-align: center;
        }
		table {
            width: 70%;
            background: #ccc;
            margin: 15px auto;
            border-collapse: collapse;
            table-layout: fixed;
            white-space: nowrap;
        }

        td {
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #ccc;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        th {
            background: #eee;
            font-weight: normal;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #ccc;
        }

        tr {
            background: #fff;
        }

        tr:hover {
            background: #cc0;
            overflow: visible;
            white-space: normal;
        }

        td a {
            color: #06f;
            text-decoration: none;
        }

        td a:hover {
            color: #06f;
            text-decoration: underline;
        }

        .table tr:nth-child(odd) {
            background-color: #dcecf9;
        }

        .table tr:nth-child(even) {
            background-color: #ffffff;
        }
	</style> -->

</head>

<body>
	<div id="wrapper">
		<header class="topbar">
			<div class="container">
				<div class="row">
					<!-- social icon-->
					<div class="col-sm-3">
						<ul class="social-network">
							<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<ul class="info">
								<li><i
										class="icon-info-blocks material-icons">question_answer</i><span>info@Arrive.com</span>
								</li>
								<li><i class="icon-info-blocks material-icons">perm_phone_msg</i><span>+(012) 345
										6789</span></li>
							</ul>
							<div class="clr"></div>
						</div>
					</div>
					<!-- info -->

				</div>
			</div>
		</header>

		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/index">
                            <div >
								<img src="static/img/logo.jpg" width="53" height="53">
								<i class="icon-info-blocks material-icons"></i>高考志愿推荐平台
							</div>
						</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a class="waves-effect waves-dark" href="/index">首页</a></li>
							<li class="active"><a class="waves-effect waves-dark" href="/test">志愿推荐</a>
							</li>
							<li><a class="waves-effect waves-dark" href="/services">分数查询</a></li>
							<li><a class="waves-effect waves-dark" href="/predict">分数预测</a></li>
							<li><a class="waves-effect waves-dark" href="/team">团队</a></li>
							<li><a class="waves-effect waves-dark" href="/load">登录/注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header><!-- end header -->
		<section style="width:100%; height:200px">
			<iframe
				id="pageTitle"
				name="志愿推荐"
				scrolling="no"
				frameborder="no"
				width="100%"
				height="200"
				src="static/pageTitle/pageTitle.html">
			</iframe>
		</section>

        <section  class ="center" id="content">
			<div class="container">
                <div class="col-sm-4 info-blocks">
                    <!-- <div class="info-blocks-in"> -->
                        <div class="about-image">
                            <img src="static/img/left1.png" width="220" height="450">
                        </div>
                    <!-- </div> -->
                </div>

                <div class="col-sm-4 info-blocks">
                    <div class="info-blocks-in">
                        <i class="icon-info-blocks material-icons">perm_identity</i>
                        <h3>个人信息</h3>
                        <div class="line"></div>
                        <div class="center">
                            <form action='/getCollegeInfo' method="post">
                                <div >
                                    <span><strong>意向地区：</strong></span>
                                    <select name="area" id="area">
                                        <option value="" selected>--请选择--</option>
                                        <option value="1" selected>华北</option>
                                        <option value="1" selected>华南</option>
                                        <option value="1" selected>华北</option>
                                        <option value="1" selected>华北</option>
                                        <option value="1" selected>华北</option>
                                        <option value="1" selected>华北</option>
                                    </select>
                                </div>
                                <br>
                                <div ><span><strong>输入成绩：</strong></span><input name="socre" type="text"/></div>
                                <br>
								<div class="center">
                                    <label style="color: #000000; "><input type="checkbox" name="wenke" value=1 onclick="chkbox(this);">文科</label>&nbsp;&nbsp;
                                    <label style="color: #000000; "><input type="checkbox" name="like" value=1 onclick="chkbox(this);">理科</label>
                            <form action='/getPrediction' method="post">
                                <div ><span><strong>意向地区：</strong></span><input name="region" type="text" value=""/></div>
                                <div ><span><strong>输入成绩：</strong></span><input name="score" type="text" value=""/></div>
                                <br>
								<div class="center" id="radioDiv">
                                    <label style="color: #000000; "><input type="radio" name="kind_name" value=0 checked='checked'>文科</label>
                                    <label style="color: #000000; "><input type="radio" name="kind_name" value=1>理科</label>
                                </div>
                                <br>
                                <div class="center"><input type="submit" value="查看"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 info-blocks">
                    <!-- <div class="info-blocks-in"> -->
                        <div class="about-image">
                            <img src="static/img/right1.jpg" width="220" height="450">
                        </div>
                    <!-- </div> -->
                </div>

            </div>
        </section>
        
        <section class="section-padding whyWe nav-bg">
            <table id="store" class="table">
                <thead>
                <tr>
                    <th>录取概率</th>
                    <th>招生院校专业组</th>
                    <th>招生计划</th>
                    <th>2020招录</th>
                    <th>2021招录</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in collegelast %}
                    <tr>
                        <td> {{ item.gailv }}</td>
                        <td> {{ item.school_name }}</td>
                        <td> {{ item.plan }}</td>
                        <td> {{ item.num2020 }}</td>
                        <td> {{ item.num2021 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="service section-padding secondary-bg">
            <div class="container">
                
        
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <span>01</span>
                                <img src="static/img/yuan1.png" alt="" class="img-fluid">
                            </div>
                            <table id="store" class="table">
                                <thead>
                                <tr>
                                    <th>学校</th>
                                    <th>专业</th>
                                    <th>分数线</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in rush %}
                                    <tr>
                                        <td> {{ item.school_name }}</td>
                                        <td> {{ item.spname }}</td>
                                        <td> {{ item.min_section }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-main2">冲一冲</a>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <span>02</span>
                                <img src="static/img/yuan2.png" alt="" class="img-fluid">
                            </div>
                            <table id="store" class="table">
                                <thead>
                                <tr>
                                    <th>学校</th>
                                    <th>专业</th>
                                    <th>分数线</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in attempt %}
                                    <tr>
                                        <td> {{ item.school_name }}</td>
                                        <td> {{ item.spname }}</td>
                                        <td> {{ item.min_section }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-main2">稳一稳</a>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <span>03</span>
                                <img src="static/img/yuan3.png" alt="" class="img-fluid">
                            </div>
                            <table id="store" class="table">
                                <thead>
                                <tr>
                                    <th>学校</th>
                                    <th>专业</th>
                                    <th>分数线</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in safe %}
                                    <tr>
                                        <td> {{ item.school_name }}</td>
                                        <td> {{ item.spname }}</td>
                                        <td> {{ item.min_section }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-main2">保一保</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
			
	<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="materialize/js/materialize.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.fancybox-media.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/animate.js"></script>
	<!-- Vendor Scripts -->
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>

    <!-- Main jQuery -->
    <script data-cfasync="false" src="static/js2/email-decode.min.js"></script><script src="static/js2/jquery.js"></script>
    <!-- Bootstrap 4.3 -->
    <script src="static/js2/bootstrap.js"></script>
    <!-- Counterup -->
    <script src="static/js2/waypoint.js"></script>
    <script src="static/js2/jquery.counterup.min.js"></script>
    <!--  Slick Carousel-->
    <script src="static/js2/slick.min.js"></script>
    <script src="static/js2/owl.carousel.min.js"></script>
    <script src="static/js2/contact.js"></script>
    <script src="static/js2/script.js"></script>
    <script>
			
        $("#radioDiv input[type='radio']").click(function(){
            console.log(111)
            //1.先移除之前元素的checked
            $("#radioDiv input[type='radio']:checked").removeAttr("checked");
            //2.给当前点击的单选框加checked
            $(this).attr("checked","true")
            
            //3.测试打印值
            console.log($("#radioDiv input[type='radio']:checked").val())
            
        })
        
    </script>
</body>

</html>