<section>
    <div>
        <p><span class="opacity-8">请填写您的 <b>高考信息</b></span></p>
        <form action="/predictfenshuxian" method="POST">
            <div>
                <select>
                    <option selected="selected" value='' disabled>省份</option>
                    <option >山东</option>
                </select>
                <input type="number" required="required" class="input-9 ae-5 fromCenter" name="input_range" value='' placeholder="排位"
                        step="1" min="1" val=""/>
                <select required="required" type="prov" class="input-9 ae-4 fromCenter" name="location">
                    <option selected="selected" value='' disabled>目标区域</option>
                    <option value="1">长三角</option>
                    <option value="0">京津冀</option>
                    <option value="2">内陆</option>
                    <option value="-1">不限</option>
                </select>
                <select required="required" type="prov" class="input-9 ae-4 fromCenter" name="title">
                    <option selected="selected" value='' disabled>学校等级</option>
                    <option value="0">985及以上</option>
                    <option value="1">211及以上</option>
                    <option value="-1">不限</option>
                </select>
            </div>
        </form>
    </div>
</section>